[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = ">=2.3.0,<=2.5.0"
tensorflow-probability = "==0.11.0"
matplotlib = "*"
keras = "==2.6.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
